﻿
@{
    ViewBag.Title = "Home_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>E4 EXPRESS</title>
    <link href="~/Content/Css/MyCss.css" rel="stylesheet" />
</head>
<body>
    <div class=" top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a> (028) 34567 </a>
                <a> (028) 34567 </a>
                <button> Liên hệ quảng cáo</button>
                <button> Like</button>
                <button> Follow</button>
                <button> YouTube</button>
            </div>
            <div class="login-right">
                <button> Đăng Nhập </button>
                <button> Đăng Ký </button>
                <input placeholder="Tìm Kiếm" />
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="banner-container">
            <img src="~/Content/Images/Logo_Vnexpress.png" />
            <img src="~/Content/Images/banner-ads-1.png" />
            <img src="~/Content/Images/banner-ads-2.png" />

        </div>
    </div>
</body>
</html>
